* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-image: linear-gradient(to bottom left, #72B4E4, #956BBF);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.child {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    align-items: center;
    justify-content: left;
}

.child::before {
    content: '';
    border-radius: 10px;
    background-color: #ffffff;
    opacity: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-self: center; */
    /* justify-content: center; */
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

#avatar {
    background-color: #e9d2ff;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    box-shadow: rgb(7, 7, 89) 0.5px 0.5px 10px 0.5px;
    margin-bottom: 10px;
}

.child h3 {
    color: #e9d2ff;
    background-image: linear-gradient(to right, blue, darkblue);
    border-radius: 5px;
    font-size: 150%;
    padding: 3px;
    box-sizing: border-box;
}

#title {
    margin: 5px 10px 5px 10px;
    font-size: 100%;
}

#description {
    margin: 12px 12px 12px 12px;
    font-size: 70%;
    color: rgb(66, 66, 66);
}

.infor {
    margin: 5px 5px 5px 5px;
    width: 12%;
    height: 12%;
    border-radius: 50%;
    background-color: #e9d2ff;

}